{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row p-3 m-3">
        <img class="border mr-5" src="{{ listing.image_link }}" alt="{{ listing.item_name }}" height="300">
        <div style="color: black" class="col">
            <h3>{{ listing.item_name }}</h3>
            <p>{{ listing.item_description }}</p>
            <h5>Current Bid: ${{ current_bid }}</h5>

            {% if listing.is_active %}
                <div class="row p-3">
                    <form action="{% url 'placeBid' %}" method="post">
                        {% csrf_token %}
                        {{ bid_form }}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        {% if user.is_authenticated %}
                            <input class="btn btn-primary" type="submit" value="Place Bid">
                        {% else %}
                            <input class="btn btn-primary" type="submit" value="Place Bid" disabled="true">
                        {% endif %}
                    </form>
                </div>
            {% else %}
                <h1 style="color: red;" class="row p-3">Sold to {{ winner }} for ${{ current_bid }}</h1>
                {% if user == winner %}
                    <h1 style="color: red;" class="row p-3">You Won!!!</h1>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div>
        <h2>Details:</h2>
        <ul class="mb-5">
            <li>Listed By: <span style="color: rgb(28, 119, 255);">{{ listing.created_by }}</span></li>
            <li>Starting Price: <span style="color: rgb(28, 119, 255);">${{ listing.start_bid }}</span></li>
            <li>Category: 
                <span style="color: rgb(28, 119, 255);">
                    {% if listing.category is None %}
                        No Category Listed
                    {% else %}
                        {{ listing.category }}
                    {% endif %}
                </span>
            </li>
            <li>Auction is 
                    {% if listing.is_active %}
                        <span style="color: rgb(28, 119, 255);">Active.</span>
                    {% else %}
                        <span style="color: red;">Closed.</span>
                    {% endif %}
                </span>
            </li>
        </ul>
    </div>

    <div>
        <h2 class="mb-3">Comments</h2>
        {% for comment in comments %}
            <div class="rows border mr-3 ml-3  p-2">
                {% if user == comment.author %}
                    <h3 style="color: rgb(28, 119, 255);">{{ comment.author }}</h3>
                {% else %}
                    <h3>{{ comment.author }}</h3>
                {% endif %}
                <p class="pl-2 pb-3">{{ comment.comment }}</p>
                {% if user.is_authenticated %}
                    {% if user == comment.author %}
                        <form class="row justify-content-end pr-3" action="{% url 'deletePost' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <p style="font-size: 10px; color: rgb(28, 119, 255);" class="ml-3 mt-2 mb-4">{{ comment.timestamp }}</p>
        {% empty %}
            <p class="ml-3">No Comments</p>
        {% endfor %}
        <form class="mt-5" action="{% url 'postComment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            {{ comment_form }}
            
            {% if user.is_authenticated %}
                <input id="postbtn" class="btn btn-primary m-3" type="submit" value="Post">
            {% else %}
                <input id="postbtn" class="btn btn-primary m-3" type="submit" value="Post" disabled="true">
            {% endif %}
        </form>
    </div>
{% endblock %}